.hero {
  height: 700px;
  background-image: url("../../img/img-intro.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  opacity: 0.4;
  position: absolute;
  top: 5;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  padding-top: 50px;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1,
.hero h2 {
  color: white;
}

.hero h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}
